<section class="flex flex-col items-start justify-center mt-[172px] pb-8">
  <div class="mx-28">
    <h1 class="text-[#E1E1E6] md:text-5xl text-2xl font-bold mb-6 text-left min-w-56">
      O Universo
    </h1>
    <p class="text-[#E1E1E6] text-left md:text-lg text-sm font-normal md:max-w-2xl min-w-56">
      A palavra Universo deriva do latim universum. A palavra latina foi usada
      por Cícero e posteriormente por outros autores com o mesmo sentido que é
      empregada atualmente. A palavra latina é derivada da contração poética
      unvorsum — utilizada primeiramente por Lucrécio no Livro IV de seu “Sobre
      a Natureza das coisas” — que conecta un, uni (um) com vorsum, versum (que
      significa "algo rodado, rolado ou mudado").
    </p>
  </div>
</section>
